body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.icon {
  width: 75px;
  height: 75px;
}

.temperature {
  font-size: 50px;
}

.active {
  color: inherit;
}

.active:hover {
  color: inherit;
  cursor: default;
}
